* {
  cursor: pointer;
}

.users {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 50px;
  width: 100%;
}

.user_card {
  border: solid;
  border-radius: 8px;
  border-width: 3px;
  border-color: gray;
  margin: 40px;
  margin-top: 60px;
  min-width: 260px;
  max-width: 400px;
  height: 200px;
  background-color: cornsilk;
}

.user_card_name,
.user_card_username,
.user_card_website {
  text-align: center;
}

.user_card_name {
  padding-top: 70px;
  font-size: 25px;
  font-style: italic;
}

.user_card_username {
  padding: 20px;
}

.user_avatar {
  border: solid;
  border-radius: 50%;
  border-width: 1px;
  max-width: 120px;
  height: 120px;
  margin-top: -250px;
  margin-left: 55px;
  padding-left: 25px;
  background-image: url();
}

.avatar {
  margin: 501px;
}
