.header {
  padding: 40px;
  &__menu {
    padding: 30px;
    margin-left: 40px;
    font-size: 20px;
    min-width: 180px;
    max-width: 180px;
    background-color: lightsalmon;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
  }
}
